APP_NAME=Hotel Backend
GOOGLE_SERVICE_ACCOUNT_FILE=./service-account.json
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_SPREADSHEET_ID=your_google_spreadsheet_id
HOTEL_SHEET_NAME=thông tin khách sạn
CUSTOMER_SHEET_NAME=Danh sách khách hàng
BOOKING_SHEET_NAME=Đặt phòng
ROOM_SHEET_NAME=Danh sách phòng